select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

a:focus {
    outline: 0;
}

button::-moz-focus-inner {
    border: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

a:active,
a:hover {
    outline: 0;
}

html {
    font-size: 14px;
}

.animated {
    animation-duration: 500ms;
}

.btn {
    border-radius: 2px;
}

.btn.btn-danger {
    border-color: #d90429;
    background-color: #ef233c;
}

.btn.btn-primary {
    border-color: #2b2d42;
    background-color: #2b2d42;
}

.btn.btn-default:hover {
    background-color: #fafafa;
}

.top-hero {
    background-color: #fafafa;
    background-image: linear-gradient( rgba(43, 45, 66, 0.75), rgba(43, 45, 66, 0.75)), url("../img/rsz_1feedback-feature.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 125px;
    display: flex;
    align-items: center;
}

.top-hero h1 {
    color: #d90429;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    letter-spacing: -1px;
    line-height: 0.9;
}

.top-hero p {
    color: #edf2f4;
}

@media only screen and (max-width: 768px) {
    .top-hero {
        min-height: 400px;
        padding-top: 50px;
    }
    .top-hero h1 {
        font-size: 36px;
        margin-top: 50px;
    }
}

.top-nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.top-nav.sticky {
    position: fixed;
}

.top-nav ul {
    float: right;
}

.top-nav ul .signup-btn {
    padding: 0.25em 0.5em;
}

.top-nav ul .signup-btn,
.top-nav ul .signup-btn:hover {
    color: #edf2f4 !important;
    border-bottom: 1px solid #d90429 !important;
    border-color: #d90429 !important;
}

.top-nav a {
    font-size: 1.1rem;
    color: #edf2f4;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding: 0 0 5px;
    transition: 0.25s;
}

.top-nav a:hover {
    color: #ef233c;
    border-color: #ef233c;
}

.banner {
    color: #edf2f4;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner .wrapper {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .banner {
        min-height: 400px;
    }
    .banner h1,
    .banner h2 {
        font-size: 20px;
    }
}

.banner.about,
.banner.signup {
    background-color: #d90429;
}

.banner.about {
    background-image: linear-gradient( rgba(68, 64, 65, 0.45), rgba(85, 45, 51, 0.45)), url("../img/about_background.jpg");
}

.banner.learn {
    background-color: #2b2d42;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/learn.jpg");
}

footer {
    text-align: center;
    background-color: #2b2d42;
    color: #edf2f4;
}

footer .copyright {
    padding: 0;
    margin-top: 7px;
    font-size: 0.9rem;
}

#about_modal .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}